*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* DEBUG */

.container{
    width: 90%;
    margin: 0 auto;
    /* DEBUG */
    background-color: yellow;
    min-height: 100%;
}

/* ********************
      HEADER START 
******************** */
header{
    background-color: #0084fd;
    height: 70px;
    margin-bottom: 50px;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

#logo{
    /* DEBUG */
    width: 70px;
    height: 40px;
    background-color: red;
}

#hamburger{
    /* DEBUG */
     width: 70px;
     height: 40px;
    background-color: red;
}

#main-nav{
    display: none;
    /* DEBUG */
    width: 270px;
    height: 40px;
    background-color: rgb(0, 255, 183);
}
/* ********************
      HEADER END
******************** */



/* ********************
      MAIN START 
******************** */

#funzionalita{
    background-color: blueviolet;
    height: 200px;
}

/* ********************
      MAIN END 
******************** */


/* ********************
      FOOTER START 
******************** */


/* ********************
      FOOTER END 
******************** */






/* VERSIONE TABLET */


/* VERSIONE DEKSTOP */
@media screen and (min-width:1024px) {

    .container{
        width: 70%;
    }
    
    /* regole header */
    #hamburger{
        display: none;
    }

    #main-nav{
        display: block;
    }
}